<div>
  <h1>RXJS Learning</h1>
</div>

<div>
  <span>simpleStringObservable()</span>
  <br>
  <span>value: </span>
  <b>{{ simpleStringObservable() | async }}</b>
</div>

<div>
  <span>mutatedStringObservable()</span>
  <br>
  <span>value: </span>
  <b>{{ mutatedStringObservable() | async }}</b>
</div>


<div>
  <span>firstOperatorObservable()</span>
  <br>
  <span>value: </span>
  <b>{{ takeOperatorObservable(3) | async }}</b>
</div>


<div>
  <span>switchMapObservable()</span>
  <br>
  <span>value: </span>
  <b>{{ switchMapObservable() | async }}</b>
</div>

<div>
  <span>switchMapObservable()</span>
  <br>
  <span>total cost: </span>
  <b>{{ realWorldSwitchMapObservable() | async | currency}}</b>
</div>
